<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <!-- - treate as html code as html code -->
    <%- include('includes/aside') %>
    <main>
      <h1>something went wrong on server</h1>
      <p>we are working on it</p>

      </p>
    </main>
  </body>
</html>
