<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <!-- - treate as html code as html code -->
    <%- include('includes/aside') %>
    <main>
      <h1>page not found!</h1>
      <p>unfourtunatly ,sorry we are not able to find your require data</p>
     
      </p>
    </main>
  </body>
</html>
